/vendor/

/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-admin
/wp-includes

/wp-content/*
!/wp-content/index.php
!/wp-content/plugins
!/wp-content/themes/index.php
!/wp-config.php

.env
.idea