/vendor/

/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php
/wp-admin
/wp-includes

/wp-content/*
!/wp-content/index.php
/wp-content/plugins/askimet/
!/wp-content/plugins
!/wp-content/themes
/wp-content/themes/twenty*
!/wp-config.php

/docker/var/

.env
.idea
.DS_Store

